<div class="theme-header">
  <div class="left-header">
    <div class="header-title">
      お題：コスモス
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">お題部屋を閉じる</a>
    </div>
  </div>
</div>

<div class="themes">
    <div class="cols">
      <div class="col">
        <div class="idea">
          <div class="idea_img">
            <img class="ideaimg" src="/assets/AdobeStock_68065535.jpeg">
          </div>
          <div class="idea_info">
            「秩序」「飾り」「美しい」という意味のギリシャ語に由来
          </div>
           <div class="idea-date">
            2020/4/1(Wed) 12:47:30
          </div>

        </div>
        <div class="idea">
          <div class="idea_img">
            <img class="ideaimg" src="/assets/AdobeStock_295814712.jpeg">
          </div>
          <div class="idea_info">
            メキシコの標高1600mに原産地がある。           
          </div>
           <div class="idea-date">
            2020/4/1(Wed) 12:47:30
          </div>
        </div>
      </div>
      <div class="colmain">
        <div class="idea">
          <div class="idea_img">
            <img class="ideaimg" src="/assets/IMG_9350.jpeg">
          </div>
          <div class="idea_info">
            練り切りでコスモス作りました。
          </div>
           <div class="idea-date">
            2020/3/31(Wed) 12:47:30
          </div>
        </div>
      </div>
      <div class="col">
        <div class="idea">
          <div class="idea_img">
            <img class="ideaimg" src="/assets/AdobeStock_485444618.jpeg">
          </div>
          <div class="idea_info">
            脂質が少なくてダイエット向きのお菓子
          </div>
          <div class="idea-date">
            2020/4/1(Wed) 12:47:30
          </div>
        </div>
        <div class="idea">
             <%= link_to image_tag("/assets/plus.png", class:"plus-btn"), new_room_idea_path %>          
          <%# <div class="idea_img">
          </div>
          <div class="idea_info">
          </div>
          <div class="idea-date">
          </div> %>
         </div>
      </div>
    </div>
        <%# <div class="upper-idea">
          <div class="idea-user">
            Tom
          </div>
          <div class="idea-date">
            2020/3/31(Wed) 12:43:30
          </div>
        </div>
        <div class="lower-theme">
          <div class="theme-content">
            おはよう
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="upper-">
          <div class="idea-user">
            Tom
          </div>
          <div class="idea-date">
            2020/3/31(Wed) 12:47:30
          </div>
        </div>
        <div class="lower-theme">
          <div class="theme-content">
            こんばんは
          </div> %>
    
  
</div>

<div class="form">
</div>