<div class="theme-header">
  <div class="left-header">
    <div class="header-title">
      お題：コスモス
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">お題部屋を閉じる</a>
    </div>
  </div>
</div>

<div class="themes">
    <div class="cols">
      <div class="col">
        <div class="idea">
          <div class="idea_img">
            <img class="ideaimg" src="/assets/hero.jpeg">
          </div>
          <div class="idea_info">
            ギリシャ語の「秩序」「飾り」「美しい」という意味の 「Kosmos, Cosmos」の言葉に由来する。
          </div>
        </div>
        <div class="idea">
          <div class="idea_img">
           no-image
          </div>
          <div class="idea_info">
            関連文を記入（20文字以内）            
          </div>
        </div>
      </div>
      <div class="colmain">
        <div class="idea">
          <div class="idea_img">
           no-image
          </div>
          <div class="idea_info">
            関連文を記入（20文字以内）
          </div>
        </div>
      </div>
      <div class="col">
        <div class="idea">
          <div class="idea_img">
           no-image
          </div>
          <div class="idea_info">
            関連文を記入（20文字以内）
          </div>
        </div>
        <div class="idea">
          <div class="idea_img">
           no-image
          </div>
          <div class="idea_info">
            関連文を記入（20文字以内）
          </div>
        </div>
      </div>
    </div>
        <%# <div class="upper-idea">
          <div class="idea-user">
            Tom
          </div>
          <div class="theme-date">
            2020/3/31(Wed) 12:43:30
          </div>
        </div>
        <div class="lower-theme">
          <div class="theme-content">
            おはよう
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="upper-">
          <div class="idea-user">
            Tom
          </div>
          <div class="theme-date">
            2020/3/31(Wed) 12:47:30
          </div>
        </div>
        <div class="lower-theme">
          <div class="theme-content">
            こんばんは
          </div> %>
    
  
</div>

<div class="form">
</div>