<div class="side-bar-header">
  <div class="header-name">
      <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    <a href="#">お題部屋を作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">コスモス</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">アゲハチョウ</a>
    </div>
  </div>
</div>